body {
    height: 100vh;
    margin: 0;
}

.container {
    display: flex;
    flex: 1;
}

.side-panel {
    background-image: url(./img/ivan-bandura-7AMO4gMc6jM-unsplash.jpg);
    flex-grow: 1;
    height: 100vh;
}

.main-panel {
    display: flex;
    flex-direction: column;
    background-color: grey;
    flex-grow: 2;
}

.form-inputs {
    background-color: white;
}